:root {
    --transparencyLight: 0.25;
    --animationSpeed: 4s;
    --spinningSpeed: 5s;

    --neonPurple: rgb(143, 23, 255);
    --neonBlue: rgb(68, 185, 253);
    --neonGreen: rgb(62, 247, 145);
    --neonYellow: rgb(247, 244, 101);
    --neonRed: rgb(253, 149, 30);
    --neonPink: rgb(253, 43, 88);
    --neonLightPurple: rgb(218, 107, 255);
    --neonDarkPurple: rgb(173, 54, 252);
  }

*{
    box-sizing: border-box;
}

body {
    position: relative;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

main{          
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;
}

main::after {
    content:"";
    position: fixed;
    top:0; left:0;
    width:100vw;
    height:100vh;

    background: linear-gradient(20deg, #ff0000, #ff9500, #ffee00, #3cff00, #00eeff, #fa009a, #e600ff);
    background-size: 1600% 1600%;
    /* background-color: black; */

    opacity: var(--transparencyLight);

    animation: discoLight var(--animationSpeed) ease infinite;

    z-index: 9999;

    pointer-events: none;
}

@keyframes discoLight {
    0%{background-position:0%}
    25%{background-position:50%}
    50%{background-position:100%}
    75%{background-position:50%}
    100%{background-position:0%}
}

li{
    list-style-type: none;
}

/* CONTROL PANEL*/
main > ul:first-child{
    margin: 0 auto;

    width: 30%;
    height: calc(90vw / 6);

    display: grid;
    grid-template-columns: minmax(0, 1fr) 50%;
    
    background-color: rgb(20, 20, 20);
    
    position: relative;
    top: 60vh;

    margin: 0 auto;
    padding: 0;
    padding-bottom: 2%;

    border: 2px solid rgb(78, 78, 78);
    box-shadow: 0px 50px 0px rgb(19, 19, 19);

    z-index: 10;
}

main > ul:first-child>li:first-child{
    background: rgb(128, 118, 118);

    justify-self: center;
    margin-top: 2%;

    width:calc(50vw / 6);
    height:calc(50vw / 6);
    border-radius:50%;

    background: repeating-radial-gradient(
        circle,
        #333233 1px,
        #333233 2px,
        rgb(19, 19, 19) 0px, 
        rgb(19, 19, 19) 5px
      );

      box-shadow: 0px 0px 0px 2px  rgb(0, 0, 0), 0px 0px 20px rgb(161, 186, 209);
      animation: rotate var(--spinningSpeed) infinite linear;
} 

main > ul:first-child>li:nth-child(2){
    background: rgb(128, 118, 118);

    justify-self: center;
    margin-top: 2%;

    width:calc(50vw / 6);
    height:calc(50vw / 6);
    border-radius: 50%;

    background: repeating-radial-gradient(
        circle,
        #333233 1px,
        #333233 2px,
        rgb(19, 19, 19) 0px, 
        rgb(19, 19, 19) 5px
      );

    box-shadow: 0px 0px 0px 2px  rgb(0, 0, 0), 0px 0px 20px rgb(161, 186, 209);
    animation: rotate var(--spinningSpeed) infinite linear;
}

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

/* CONTROL PANEL BUTTONS*/
main > ul:first-child>li:nth-child(3){
    float:left;

    width: 50%;
    height: 28%;

    margin: 0 auto;
    padding: 0;
    margin-bottom: calc(50vh / 6);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 4vh;
    grid-gap: 5px;

    align-self: center;
}

    main > ul:first-child li:nth-child(3) label:first-child{
        width:calc(10vw / 6);
        height:calc(10vw / 6);
        background-color:var(--neonPurple);

        border-radius: 20%;

        box-shadow: 0 4px 0px rgb(43, 42, 42), 0px 4px 30px  var(--neonPurple);
        transition: all ease 0.4s;
    }

    input:nth-child(1):checked ~ main label:first-child{
        box-shadow: none;
        margin-top: 4px;
    }

    input:nth-child(1):checked ~ main{
        --animationSpeed: 1s;
        --transparencyLight: 0.6;
    }

   main > ul:first-child li:nth-child(3) label:nth-child(2){
        width:calc(10vw / 6);
        height:calc(10vw / 6);
        background-color:var(--neonBlue);

        border-radius: 20%;

        box-shadow: 0 4px 0px rgb(43, 42, 42), 0px 4px 30px  var(--neonBlue);
        transition: all ease 0.4s;
    }

    
    input:nth-child(2):checked ~ main label:nth-child(2){
        box-shadow: none;
        margin-top: 4px;
    }

    input:nth-child(2):checked ~ main{
        --spinningSpeed: 1s;
    }

    main > ul:first-child li:nth-child(3) label:nth-child(3){
        width:calc(10vw / 6);
        height:calc(10vw / 6);
        background-color:var(--neonGreen);

        border-radius: 20%;

        box-shadow: 0 4px 0px rgb(43, 42, 42), 0px 4px 30px  var(--neonGreen);
        transition: all ease 0.4s;
    }

    input:nth-child(3):checked ~ main label:nth-child(3){
        box-shadow: none;
        margin-top: 4px;
    }

    ul:first-child li:nth-child(3) label:nth-child(4){
        width:calc(10vw / 6);
        height:calc(10vw / 6);
        background-color:var(--neonYellow);

        border-radius: 20%;

        box-shadow: 0 4px 0px rgb(43, 42, 42), 0px 4px 30px  var(--neonYellow);
        transition: all ease 0.4s;
    }

    input:nth-child(4):checked ~ main label:nth-child(4){
        box-shadow: none;
        margin-top: 4px;
    }

    ul:first-child li:nth-child(3) label:nth-child(5){
        width:calc(10vw / 6);
        height:calc(10vw / 6);
        background-color:var(--neonPurple);

        border-radius: 20%;

        box-shadow: 0 4px 0px rgb(43, 42, 42), 0px 4px 30px  var(--neonPurple);
        transition: all ease 0.4s;
    }

    input:nth-child(5):checked ~ main label:nth-child(5){
        box-shadow: none;
        margin-top: 4px;
    }

    ul:first-child li:nth-child(3) label:nth-child(6){
        width:calc(10vw / 6);
        height:calc(10vw / 6);
        background-color:var(--neonBlue);
        
        border-radius: 20%;
        
        box-shadow: 0 4px 0px rgb(43, 42, 42), 0px 4px 30px  var(--neonBlue);
        transition: all ease 0.4s;
    }

    input:nth-child(6):checked ~ main label:nth-child(6){
        box-shadow: none;
        margin-top: 4px;
    }

    ul:first-child li:nth-child(3) label:nth-child(7){
        width:calc(10vw / 6);
        height:calc(10vw / 6);
        background-color:var(--neonGreen);
        
        border-radius: 20%;
        
        box-shadow: 0 4px 0px rgb(43, 42, 42), 0px 4px 30px  var(--neonGreen);
        transition: all ease 0.4s;
    }

    input:nth-child(7):checked ~ main label:nth-child(7){
        box-shadow: none;
        margin-top: 4px;
    }

    ul:first-child li:nth-child(3) label:nth-child(8){
        width:calc(10vw / 6);
        height:calc(10vw / 6);
        background-color:var(--neonYellow);
        
        border-radius: 20%;
        
        box-shadow: 0 4px 0px rgb(43, 42, 42), 0px 4px 30px  var(--neonYellow);
        transition: all ease 0.4s;
    }

    input:nth-child(8):checked ~ main label:nth-child(8){
        box-shadow: none;
        margin-top: 4px;
    }


main > ul:first-child>li:nth-child(4){
    float:left;

    width: 50%;
    height: 28%;

    margin: 0 auto;
    padding: 0;
    margin-bottom: calc(50vh / 6);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 4vh;
    grid-gap: 5px;

    align-self: center;
}


    ul:first-child li:nth-child(4) label:first-child{
        width:calc(10vw / 6);
        height:calc(10vw / 6);
        background-color: var(--neonRed);
        margin: 0 auto;

        top:0;
        right: 0;

        border-radius: 20%;

        box-shadow: 0 4px 0px rgb(43, 42, 42), 0px 4px 30px  var(--neonRed);
        transition: all ease 0.4s;
    }

    input:nth-child(9):checked ~ main ul:first-child li:nth-child(4) label:nth-child(1){
        box-shadow: none;
        margin-top: 4px;
    }


    ul:first-child>li:nth-child(4) label:nth-child(2){
        width:calc(10vw / 6);
        height:calc(10vw / 6);
        background-color: var(--neonPink);
        margin: 0 auto;

        top:0;
        right: 50%;

        border-radius: 20%;

        box-shadow: 0 4px 0px rgb(43, 42, 42), 0px 4px 30px  var(--neonPink);
        transition: all ease 0.4s;
    }


    input:nth-child(10):checked ~ main ul:first-child li:nth-child(4) label:nth-child(2){
        box-shadow: none;
        margin-top: 4px;
    }


    ul:first-child>li:nth-child(4) label:nth-child(3){
        width:calc(10vw / 6);
        height:calc(10vw / 6);
        background-color: var(--neonLightPurple);
        margin: 0 auto;
        right: 100%;
        
        top:0;

        border-radius: 20%;

        box-shadow: 0 4px 0px rgb(43, 42, 42), 0px 4px 30px  var(--neonLightPurple);
        transition: all ease 0.4s;
    }

    input:nth-child(11):checked ~ main ul:first-child li:nth-child(4) label:nth-child(3){
        box-shadow: none;
        margin-top: 4px;
    }

    ul:first-child li:nth-child(4) label:nth-child(4){
        width:calc(10vw / 6);
        height:calc(10vw / 6);
        background-color: var(--neonDarkPurple);
        margin: 0 auto;
        
        right:0%;
        top:100%;

        border-radius: 20%;

        box-shadow: 0 4px 0px rgb(43, 42, 42), 0px 4px 30px  var(--neonDarkPurple);
        transition: all ease 0.4s;
    }

    input:nth-child(12):checked ~ main ul:first-child li:nth-child(4) label:nth-child(4){
        box-shadow: none;
        margin-top: 4px;
    }

    ul:first-child li:nth-child(4) label:nth-child(5){
        width:calc(10vw / 6);
        height:calc(10vw / 6);
        background-color: var(--neonRed);
        margin: 0 auto;
        
        right:50%;
        top:100%;

        border-radius: 20%;

        box-shadow: 0 4px 0px rgb(43, 42, 42), 0px 4px 30px  var(--neonRed);
        transition: all ease 0.4s;
    }

    input:nth-child(13):checked ~ main ul:first-child li:nth-child(4) label:nth-child(5){
        box-shadow: none;
        margin-top: 4px;
    }

    ul:first-child li:nth-child(4) label:nth-child(6){
        width:calc(10vw / 6);
        height:calc(10vw / 6);
        background-color: var(--neonPink);
        margin: 0 auto;
        
        right:100%;
        top:100%;

        border-radius: 20%;
        
        box-shadow: 0 4px 0px rgb(43, 42, 42), 0px 4px 30px  var(--neonPink);
        transition: all ease 0.4s;
    }

    input:nth-child(14):checked ~ main ul:first-child li:nth-child(4) label:nth-child(6){
        box-shadow: none;
        margin-top: 4px;
    }

    ul:first-child li:nth-child(4) label:nth-child(7){
        width:calc(10vw / 6);
        height:calc(10vw / 6);
        background-color: var(--neonLightPurple);
        margin: 0 auto;
        
        right:100%;
        top:100%;

        border-radius: 20%;
        
        box-shadow: 0 4px 0px rgb(43, 42, 42), 0px 4px 30px  var(--neonLightPurple);
        transition: all ease 0.4s;
    }

    input:nth-child(15):checked ~ main ul:first-child li:nth-child(4) label:nth-child(7){
        box-shadow: none;
        margin-top: 4px;
    }

    ul:first-child li:nth-child(4) label:nth-child(8){
        width:calc(10vw / 6);
        height:calc(10vw / 6);
        background-color: var(--neonDarkPurple);
        margin: 0 auto;
        
        right:100%;
        top:100%;

        border-radius: 20%;
        
        box-shadow: 0 4px 0px rgb(43, 42, 42), 0px 4px 30px  var(--neonDarkPurple);
        transition: all ease 0.4s;
    }

    input:nth-child(16):checked ~ main ul:first-child li:nth-child(4) label:nth-child(8){
        box-shadow: none;
        margin-top: 4px;
    }


/* CROWD*/
ul:nth-child(2){
    margin: 0 auto;
    padding: 0%;
    position: absolute;
    top: 0;

    display: block;

    width: 100%;
    height: 70%;
}

ul:nth-child(2) li:first-child{
    background-image: url("images/crowd-layer3.png");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;

    position: absolute;

    margin-left: -5vw;

    width: 110vw;
    height: 100%;

    animation: moveCrowd 15s linear infinite;
}

ul:nth-child(2) li:nth-child(2){
    background-image: url("images/crowd-layer2.png");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;

    position: absolute;

    margin-left: -5vw;

    width: 110vw;
    height: 100%;

    animation: moveCrowd 10s linear infinite;
}

ul:nth-child(2) li:nth-child(3){
    background-image: url("images/crowd-front.png");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;

    position: absolute;

    margin-left: -5vw;

    width: 110vw;
    height: 100%;

    animation: moveCrowd 5s linear infinite;
}

ul:nth-child(2) li:nth-child(4){
    background-color: black;

    position: fixed;

    bottom: 0;

    width: 100%;
    height: 40%;
}

@keyframes moveCrowd {
    0% {
        left: 0em;
    }
    25% {
        left: -2em;
    }
    50%{
        left: 0em;
    }
    75%{
        left: 2em;
    }
    100% {
        left: 0em;
    }
}

ul:nth-child(3){
    position: absolute;

    background-image: url("images//discobal.png");
    background-position: center;
    background-size:cover;

    margin: 0 auto;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    top: 6%;

    width: 150px;
    height: 150px;
    background-color: rgba(122, 122, 122, 0.9);

    border-radius:50%;
    box-shadow: 0px 0px 100px 100px white, inset  0px 0px 100px 20px white;
}







/* Disco ball */
article {
	--maat: min(50vmin, 10em);
	--hang-maat:calc(var(--maat));
	
	width:var(--maat);
    aspect-ratio: 1/1;	
	position:absolute;
	top:50px;
	left:calc(50% - var(--maat) / 2);
	
	border-radius:50%;
	box-shadow:
	    calc(var(--maat) / -5) 0 calc(var(--maat) / 3) rgb(255, 255, 255),
		calc(var(--maat) / 5) 0 calc(var(--maat) / 3) rgb(255, 255, 255);
	
	transform-origin:center calc(var(--hang-maat) * -1);
	animation:swing 3s -2.5s infinite alternate ease-in-out;
}

@keyframes swing {
	0% {
		transform: rotate(-2deg);
	}
	100% {
		transform: rotate(2deg);
	}
}


/* touwtje */
article::before {
	content:"";
	position:absolute;
	left:calc(50% - 1px);
	bottom:100%;
	width:2px;
	height:var(--hang-maat);
	background-color:#632;
}


/* schaduw en highlights */
article::after {
	content:"";
	position:absolute;
	inset:0;
	background-image:
		/* hightlights */
		radial-gradient(
			farthest-corner circle at 40% 22.5%,
			#fffc,
			#fff0 20%
		),
		radial-gradient(
			farthest-corner circle at 25% 35%,
			#fffc,
			#fff0 30%
		),
		/* schaduw */
		radial-gradient(
			farthest-corner at 25% 25%,
			#0000 40%,
			#0009 70%
		),
		/* shimmers */
		linear-gradient(
			70deg,
			#fff0 40%,
			#fff9,
			#fff0 70%
		),
		linear-gradient(
		 85deg,
			#fff0 40%,
			#fff6,
			#fff0 50%
		);
	
	background-size:
		/* highlights & schaduw */
		cover,
		cover,
		cover,
		/* shimmers */
		300% 100%,
	  300% 100%;
	border-radius:inherit;
	
	animation: shimmer 5s infinite ease-in-out;
}

@keyframes shimmer {
	0% {
		background-position:right top;
	}
	100% {
		background-position:left top;
	}
}

/* spiegeltjes wrapper */
article div {
	position:absolute;
	width:100%;
	height:100%;
	
	border-radius:50%;

	-webkit-mask:radial-gradient(closest-side, red 100%, transparent 100%);
	mask:radial-gradient(closest-side, red 100%, transparent 100%);
}
	

/* spiegeltjes */
article ul {
    width:400%;
	height:100%;

	margin:0;
	padding:0;
	
	display:flex;
	flex-wrap:wrap;
	
	list-style:none;
	
	animation: move 30s -15s infinite ease-in-out alternate;
}

@keyframes move {
	0% {
		transform:translatex(0);
	}
	100% {
		transform:translatex( -50% );
	}
}


/* een spiegeltje */
article li {
	flex-grow:1;
    background-color: #ccc;
	border:solid calc(var(--maat) / 512) rgba(99, 99, 99, 0.4);
}

article li:nth-of-type(n)   { width: calc(4%    / 4);  background-color:#ccc; }
article li:nth-of-type(2n)  { width: calc(5.5%  / 4);  background-color:#ddd; }
article li:nth-of-type(3n)  { width: calc(5%    / 4);  background-color:#bbb; }
article li:nth-of-type(5n)  { width: calc(4.5%  / 4);  background-color:#ccc; }
article li:nth-of-type(7n)  { width: calc(4.25% / 4);  background-color:#ddd; }
article li:nth-of-type(11n) { width: calc(6%    / 4);  background-color:#bbb; }
article li:nth-of-type(13n) { width: calc(5.25% / 4);  background-color:#ccc; }
article li:nth-of-type(15n) { width: calc(4.75% / 4);  background-color:#ddd; }
article li:nth-of-type(16n) { width: calc(5.75% / 4);  background-color:#bbb; }

article li:nth-of-type(1160) { height:4.3%; }
article li:nth-of-type(1240) { height:4.4%; }
article li:nth-of-type(1320) { height:4.3%; }
article li:nth-of-type(1400) { height:4.3%; }
article li:nth-of-type(1480) { height:4.3%; }
article li:nth-of-type(1560) { height:4.2%; }
article li:nth-of-type(1640) { height:4.1%; }
article li:nth-of-type(1720) { height:4.0%; }
article li:nth-of-type(1800) { height:3.9%; }
article li:nth-of-type(1880) { height:3.7%; }
article li:nth-of-type(1960) { height:3.5%; }
article li:nth-of-type(2040) { height:3.2%; }
article li:nth-of-type(2120) { height:2.9%; }
article li:nth-of-type(2200) { height:2.4%; }
article li:nth-of-type(2280) { height:1.7%; }
article li:nth-of-type(2360) { height:0.8%; }
article li:nth-of-type(2440) { height:0.5%; }
